.container-fluid {
    background-image: url("../../../assets/images/hero-bg.png");
    width: 99%;
    height: 98%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}