<div dir="rtl" class="container-fluid">
    <div class="one-third-position">
    <h2>پویش</h2>
    <p>
        بیماران دیالیزی هم بخشی از انسان های روی زمین هستند و حق زندگی دارند اما چه حیف که شرایط سخت روزگار بعضی از آنها را در پرداخت هزینه های بیماری شان دچار مشکل کرده و آنها دیگر زندگی را به معنای واقعی زندگی نمی کنند. بیایید به همان اندک کمک هایمان کاری کنیم تا آنهایی که نمی توانند از پس هزینه هایشان بر بیایند دوباره طعم شیرین زندگی را بچشند. چه چیزی از این زیباتر که دوباره انسانی را به زندگی برگردانیم؟ پس از این کار خیر سرباز نزنید و همراه ما باشید تا به آنها کمک کنیم.
    </p>
    </div>
</div>