<!-- footer section -->
<footer class="footer_section" dir="rtl">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 footer_col">
        <div class="footer_contact">
          <h4>
            راه ارتباطی
          </h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                آدرس
              </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                تماس +91200000000
              </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                Moeinnajafi1996@gmail.com
              </span>
            </a>
          </div>
        </div>
        <div class="footer_social">
          <a href="">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer_col">
        <div class="footer_detail">
          <h4>
            درباره
          </h4>
          <p>
            توضیحات توضیحات توضیحات توضیحات توضیحات
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-2 mx-auto footer_col">
        <div class="footer_link_box">
          <h4>
            لینک ها
          </h4>
          <div class="footer_links">
            <a class="active" [routerLink]="['/']">
              خانه
            </a><br/>
            <a class="" [routerLink]="['/']">
              درباره ما
            </a><br/>
            <a class="" [routerLink]="['/']">
              درمانگاه ها
            </a><br/>
            <a class="" [routerLink]="['/']">
              تماس با ما
            </a><br/>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 footer_col ">
        <h4>
          خبرنامه
        </h4>
        <form action="#">
          <input type="email" placeholder="ورود ایمیل" />
          <button style="margin: 5px;" class="btn btn-sm btn-info" type="submit">
            اشتراک
          </button>
        </form>
      </div>
    </div>
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear"></span> توسعه دهنده
        <a href="https:///">Moeinnajafi1998<br><br></a>
          &copy; <span id="displayYear"></span> توسعه دهنده
          <a href="https://./">Moein Najafi</a>
      </p>
     
    </div>  
  </div>
</footer>
<!-- footer section -->