<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"  dir="rtl">
    <div class="container-fluid" id="navbar">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">خانه</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about-us/']">ویزیت</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/blog/']">بیمار</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact-us/']">پرسنل</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/reservation/']">انبار</a>
          </li>
          <li class="nav-item">
            <a *ngIf="is_superUser" class="nav-link" [routerLink]="['/report/']"> گزارشات  </a>
          </li>
        </ul>

        <div *ngIf="is_superUser" class="dropdown">
          <a class="dropdown-toggle" data-bs-toggle="dropdown">مدیر کل</a>
          <div class="dropdown-menu">
              <a [routerLink]="['/clinics/']" class="dropdown-item">درمانگاه ها</a>
              <a [routerLink]="['/']" class="dropdown-item"> انبار ها</a>
              <a [routerLink]="['/']" class="dropdown-item"> کاربران عادی</a>
              <a [routerLink]="['/']" class="dropdown-item">  بیمار ها</a>
              <a [routerLink]="['/']" class="dropdown-item">   پرستار ها</a>
              <a [routerLink]="['/']" class="dropdown-item">   دسته بندی ها</a>
              <a [routerLink]="['/']" class="dropdown-item">  تجهیزات</a>
          </div>
        </div>


        <div *ngIf="user_type=='Clinic_Admin'" class="dropdown">
          <a class="dropdown-toggle" data-bs-toggle="dropdown">مدیر درمانگاه</a>
          <div class="dropdown-menu">
              <a [routerLink]="['/']" class="dropdown-item">درمانگاه </a>
              <a [routerLink]="['/']" class="dropdown-item"> انبار </a>
          </div>
        </div>
          
        <button *ngIf="!isLoggedIn" style="margin-right: auto;" [routerLink]="['/login/']" class="btn btn-info">ورود به سامانه</button>
        <button *ngIf="isLoggedIn" style="margin-right: auto;" (click)="logOut()" class="btn btn-danger">خروج </button>

        </div>
    </div>
</nav>