<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"  dir="rtl">
    <div class="container-fluid" id="navbar">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">خانه</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about-us/']">ویزیت</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['/blog/']">بیمار</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact-us/']">پرسنل</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="['/reservation/']">انبار</a>
          </li> -->
          <!-- <li class="nav-item">
            <a *ngIf="is_superUser" class="nav-link" [routerLink]="['/report/']"> گزارشات  </a>
          </li> -->
        </ul>

        <div *ngIf="is_superUser"  class="dropdown">
          <a class="dropdown-toggle" data-bs-toggle="dropdown" style="text-decoration: none; color: #000; margin: 5px;">مدیریت کل</a>
          <div class="dropdown-menu" style="text-align: right;">
            <a [routerLink]="['/clinics/']" class="dropdown-item">درمانگاه ها</a>
            <a [routerLink]="['/add-clinic/']" class="dropdown-item">درمانگاه جدید</a>
            <hr/>
            <a [routerLink]="['/categories/']" class="dropdown-item">دسته بندی ها</a>
            <a [routerLink]="['/add-category/']" class="dropdown-item">دسته بندی جدید</a>
            <hr/>
            <a [routerLink]="['/items/']" class="dropdown-item">آیتم ها</a>
            <a [routerLink]="['/add-item/']" class="dropdown-item">آیتم جدید</a>
            <hr/>
            <a [routerLink]="['/wharehouses/']" class="dropdown-item">انبار ها</a>
            <a [routerLink]="['/add-wharehouse/']" class="dropdown-item">انبار جدید</a>
            <hr/>
            <a [routerLink]="['/permissions/']" class="dropdown-item"> دسترسی ها</a>
            <a [routerLink]="['/add-permission/']" class="dropdown-item">دسترسی جدید</a>
          </div>
        </div>

        <div *ngIf="is_superUser"  class="dropdown" >
          <a class="dropdown-toggle" data-bs-toggle="dropdown" style="text-decoration: none; color: #000; margin: 5px;">کاربران</a>
          <div class="dropdown-menu" style="text-align: right;">
            <a [routerLink]="['/users/']" class="dropdown-item"> لیست تمام کاربران</a>
            <a [routerLink]="['/clinic-admins/']" class="dropdown-item"> مدیران درمانگاه ها</a>
            <a [routerLink]="['/typical-users/']" class="dropdown-item"> منشی ها</a>
            <a [routerLink]="['/nurses/']" class="dropdown-item"> پرستار ها</a>
            <a [routerLink]="['/warehouse-keepers/']" class="dropdown-item">  انباردار ها</a>
            <a [routerLink]="['/financial-managers/']" class="dropdown-item">  مدیران مالی</a>
            <hr/>
            <a [routerLink]="['/add-user/']" class="dropdown-item"> + کاربر جدید </a>
          </div>
        </div>


        <div *ngIf="is_superUser"  class="dropdown" >
          <a class="dropdown-toggle" data-bs-toggle="dropdown" style="text-decoration: none; color: #000; margin: 5px;">بیماران</a>
          <div class="dropdown-menu" style="text-align: right;">
            <a [routerLink]="['/sicks/']" class="dropdown-item">  بیماران</a>
            <a [routerLink]="['/requestsessions/']" class="dropdown-item"> تمام درخواست ها</a>
          </div>
        </div>


        <div *ngIf="user_type=='Sick'"  class="dropdown" >
          <a class="dropdown-toggle" data-bs-toggle="dropdown" style="text-decoration: none; color: #000; margin: 5px;">بخش بیمار</a>
          <div class="dropdown-menu" style="text-align: right;">
            <a [routerLink]="['/add-sessionrequest/']" class="dropdown-item">درخواست نوبت </a>
            <a [routerLink]="['/sick-sessionrequests/']" class="dropdown-item">درخواست های قبلی </a>
          </div>
        </div>


        <div *ngIf="user_type=='Typical_User'"  class="dropdown" >
          <a class="dropdown-toggle" data-bs-toggle="dropdown" style="text-decoration: none; color: #000; margin: 5px;">بخش منشی</a>
          <div class="dropdown-menu" style="text-align: right;">
            <a [routerLink]="['/clinic-sessionrequests/']" class="dropdown-item">درخواست های درمانگاه </a>
          </div>
        </div>


        <div *ngIf="user_type=='Clinic_Admin'" class="dropdown">
          <a class="dropdown-toggle" data-bs-toggle="dropdown">مدیر درمانگاه</a>
          <div class="dropdown-menu">
              <a [routerLink]="['/']" class="dropdown-item">درمانگاه </a>
              <a [routerLink]="['/']" class="dropdown-item"> انبار </a>
          </div>
        </div>
          
        <button *ngIf="!isLoggedIn" style="margin-right: auto;" [routerLink]="['/login/']" class="btn btn-info">ورود به سامانه</button>
        <button *ngIf="isLoggedIn" style="margin-right: auto;" (click)="logOut()" class="btn btn-danger">خروج </button>

        </div>
    </div>
</nav>