<div class="main">
    <div class="container">
        <div class="row justify-content-center">
            <div *ngFor="let u of sicks" class="col-md-6">
                <div class="user-card">
                    <div class="text-center">
                        <img src="http://127.0.0.1:8000{{ u.image }}" alt="{{ u.username }}" class="user-image">
                        <h3 class="mt-3">Username: {{ u.username }}</h3>
                        <p *ngIf="u.user_type != null">User Type: {{ u.user_type }}</p>
                        <span *ngIf="u.is_superuser" class="badge bg-primary">superuser</span>
                        <span *ngIf="u.is_staff" class="badge bg-primary">دسترسی به پنل مدیریت</span>
                        <button (click)="userDetails(u.id)" class="btn btn-sm btn-success">جزئیات</button>

                    </div>
                    <hr>
                    <h5 class="text-center"> دسترسی در پنل ادمین</h5>
                    <ul>
                        <li *ngFor="let p of u.user_permissions"> {{ p.codename }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>