.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    width: 400px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    min-width: 45%;
    min-height: 35%;
    direction: rtl;
    border-style: solid;
    border-color: rgba(0,212,255,1);
    border-radius: 2px;
  
  }
  
  .login-box h2 {
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"],
  .login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .login-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .login-icon img {
      width: 80px;
      height: 80px;
  }
  
  .btn-sgi{
      background: rgb(0,212,255);
      background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,102,121,1) 40%, rgba(0,94,154,1) 67%, rgba(0,212,255,1) 100%);
  }