<main dir="rtl">
    <div class="form-container">
      <form>
        <div class="form-group">
          <label for="name">نام سرویس:</label>
          <input type="text" id="name" name="name" required>
        </div>
        
        <div class="form-group">
          <label for="description">توضیحات:</label>
          <input type="text" id="description" name="description">
        </div>
        
        <button class="btn btn-lg btn-success" (click)="updateService($event)" type="submit">ویرایش</button>
        <button class="btn btn-sm btn-danger" (click)="deleteService($event)" type="submit">حذف سرویس</button>
      </form>
    </div>
</main>